<h1 class="site-title"><a href="/">farrhan.</a></h1>
<nav class="site-nav">
  <a href="/"{{ if $.IsHome }} class="active"{{ end }}>Home</a>
  <a href="/about/"{{ if eq $.RelPermalink "/about/" }} class="active"{{ end }}>About</a>
  <a href="/services/"{{ if or (eq $.RelPermalink "/services/") (eq $.RelPermalink "/video-editing/") (eq $.RelPermalink "/graphic-design/") (eq $.RelPermalink "/vod-scrubbing/") }} class="active"{{ end }}>Services</a>
  <a href="/portfolio/"{{ if or (eq $.RelPermalink "/portfolio/") (eq $.Type "portfolio") }} class="active"{{ end }}>Portfolio</a>
</nav>
